.footer {
  background-color: black;
  color: var(--primary);
  width: 100%;  /* Se mantiene 100% para evitar scroll horizontal */
  min-height: fit-content; /* Se ajusta según contenido */
  padding: 20px 0; /* Espaciado vertical */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-titulo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

ul.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 10px 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; /* Evita desbordes en pantallas pequeñas */
}

.footer-info ul.enlaces-legales a,
.footer-info .copy {
  color: white;
}

.footer-info ul.enlaces-legales li {
  margin: 5px 10px;
}

/************* MEDIA QUERIES ************/
@media (min-width: 768px) {
  .footer {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .footer-info {
      flex-direction: row; /* Se cambia a fila en pantallas más grandes */
      justify-content: center;
      width: 100%;
      flex-wrap: wrap; /* Evita que los elementos se desborden */
  }

  .footer-info ul {
      flex-direction: row;
      justify-content: center;
  }
}
