.footer {
  background-color: black;
  color: var(--primary);
  width: 100%;  /* Mejor que 100vw para evitar problemas de scroll */
  height: auto;
  padding: 20px 0; /* Agrega espaciado arriba y abajo */
  text-align: center;
}

.contact-titulo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

ul.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 10px 0;  /* Unifica márgenes en una sola línea */
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-info ul.enlaces-legales a,
.footer-info .copy {
  color: white;
}

.footer-info ul.enlaces-legales li {
  margin: 5px 10px;
}

/************* MEDIA QUERIES ************/
@media (min-width: 768px) {
  .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .footer-info {
      flex-direction: row; /* Se cambia a fila en pantallas más grandes */
      justify-content: center;
      width: 100%;
  }

  .footer-info ul {
      flex-direction: row;
      justify-content: center;
  }
}
